@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.navbar { background-color: grey;}

.card-form{
    margin-top: 100px;
}

.card{ border-color: blue;
    width: 80%;
    margin-top: -60px;
}

@media(min-width:768px){
    .container{
        max-width: 500px;
    }
}

.bg-footer{ background-color: rgb(13, 79, 105);}
.a-reset{color: white; text-decoration: none; font-family:'poppins', sans-serif;}
